/* --------公共部分------------ */
.nav{
    width: 1280px;
    height: 88px;
    /* background: red; */
    background: #fff;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto;
    z-index: 99;
}  
.navBox{
    float: left;
}
.hoverBOx:hover .sonPage{
    display: inline-block;
}
.sonPage_title{
    color: #000;
    background: #fff;
    border-bottom: 1px solid rgba(229,229,229,1);
}
.sonPage_title:hover{
    background: #E44444;
    color: #fff;
}

.sonPage{
    width: 100%;
    height: 288px;
    display: none;
}
.nav>div{
    font-size: 18px;
}
/* -----------公共部分 -end----------- */
/* -----------导航条LOGO标题部分----------- */
.navFlex_left{
    text-align: center;
    width: 230px;
    height: 100%;
    /* background: green; */
}
.logo{
    border-radius: 50%;
    /* background: rebeccapurple; */
    text-align: center;
    line-height: 70px;
    /* margin:0 71px; */
}
.title{
    /* background: rebeccapurple; */
    line-height: 88px;
}
/* -----------导航条LOGO标题部分 -end----------- */
/* -----------导航条右边主题部分----------- */
.navFlex_right{
    width: 1050px;
    height: 100%;
    /* background: yellow; */
}
.navFlex_right>div{
    width: 175px;
    height:100%;
    text-align: center;
    line-height: 88px;
}
.navFlex_right>div:hover{
    cursor: pointer;
    background: #E44444;
    color: #fff;
}
.navFlex_right>div:hover a{
    color: #fff;
}
.float{
    float: left;
}
/* -----------导航条右边主题部分 -end----------- */

/* 头部背景轮播 */
.banner{
    width: 100%;
    height: 770px;
    /* background: skyblue; */
    margin-top: 88px;
    position: relative;
    overflow: hidden;
}
.banner>.advs{
    /* width: 100%; */
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 1s ease;
}
.banner>.advs img{
    float: left;
    height: 100%;
}
.upPage,.nextPage{
    /* width: 100px; */
    height: 100%;
    /* background:orange; */
    cursor: pointer;
    margin-top: 400px;
}
.upPage>img{
    margin-left: 80px;
}
.nextPage>img{
    margin-right: 80px;
}
.upPage{
    position: absolute;
    left: 0;
}
.nextPage{
    position: absolute;
    right:  0;
}
/* 头部背景轮播 -end */
/* 第一层视频文字内容  */
.floor_1{
    width: 100%;
    /* height: 825px; */
    /* background: pink; */
    text-align: center;
    padding: 62px 0 31px 0;
}

.floor_1>p{
font-size:36px;
font-family:MicrosoftYaHei;
font-weight:400;
color:rgba(51,51,51,1);
}
.redWire{
    width:150px;
height:6px;
margin: 0 auto;
margin-top: 17px;
background:rgba(228,68,68,1);
}
.floorText{
    width:1280px;
font-size:18px;
font-family:MicrosoftYaHei;
font-weight:400;
color:rgba(102,102,102,1);
line-height:44px;
margin: 0 auto;
text-align: left;
}
.floor_1>.subhead{
    height:23px;
    font-size:24px;
    margin-top: 40px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(51,51,51,1);
}
.floor_1>.video{
    width: 691px;
    height: 388px;
    background: #eee;
    margin: 32px auto 0 auto;
}
/* 第一层视频文字内容 -end  */
/* 第二层标题 */
.floor_2{
    width: 100%;
    height: 328px;
    background: url(../../imges/science/science/1.gif) no-repeat;
    background-size: 100% 100%;
    text-align: center;
    padding-top: 54px;
}
.floor_2>p{
    color: #fff;
    font-size:36px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    }
    .floor_2>.floorText{
        color: #FFf;
    }
/* 第二层标题 -end */
/* 第三层内容  */
.floor_3{
    width: 100%;
    height: 1332px;
    background: url(../../imges/science/science/2.gif) no-repeat;
    background-size: 100% 100%;
}
.floor_3>.box{
    width:1300px;
    height: 100%;
    margin: 0 auto;
    /* background: pink; */
}
.box>.imgBox:nth-child(1){
    background: url(../../imges/science/science/组\ 1.png)
}
.box>.imgBox:nth-child(2){
    background: url(../../imges/science/science/组\ 1\ 拷贝.png)
}
.box>.imgBox:nth-child(3){
    background: url(../../imges/science/science/组\ 1\ 拷贝\ 2.png)
}
.box>.imgBox:nth-child(4){
    background: url(../../imges/science/science/组\ 1\ 拷贝\ 3.png)
}
.box>.imgBox{
    width: 540px;
    height: 556px;
    background: green;
    margin: 55px;
    float: left;
    position: relative;
    /* overflow: hidden; */
}
.imgBox>div{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 29px;
    overflow: hidden;
    /* background: yellow; */
    border-radius: 45px;
}
.imgBox .shade{
    width: 497px;
    height: 500px;
    background: rgba(0, 0, 0,0.5);
    position: absolute;
    bottom: -500px;
    left: 23px;
    transition: all 0.5s ease;
}
.imgBox:hover .shade{
    position: absolute;
    bottom: -50px;
}
.shadeText{
    width:450px;
    font-size:18px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(255,255,255,1);
    line-height:44px;
    text-align: center;
    margin: 31px auto;                       
}
.shadeText>p{
font-size:30px;
}
.shadeContent{
    width:450px;
height:193px;
font-size:16px;
font-family:MicrosoftYaHei;
font-weight:400;
color:rgba(222,255,0,1);
line-height:44px;
margin:0 auto;
}
/* 第三层内容 -end */
/* 第四层标题 */
.floor_4{
    width: 100%;
    height: 328px;
    background: #333333;
    text-align: center;
    padding-top: 54px;
}
.floor_4>p{
    color: #fff;
    font-size:36px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    }
    .floor_4>.floorText{
        color: #FFf;
    }

/* 第四层标题 -end  */

/* 第五层内容   */
.floor_5{
    width: 100%;
    height: 762px;
    background: url(../../imges/science/science/2.gif) no-repeat;
    background-size: 100% 100%;
    padding-top: 55px;
}
.floor_5>.floor_5Box{
    width: 1280px;
    height: 640px;
    /* background: yellow; */
    margin: 0 auto;
}
.floor_5Box>div{
    width: 100%;
    height: 320px;
    /* background: red; */
    overflow: hidden;
}
.floor_5_boxes{
    width: 320px;
    height: 100%;
    background: blue;
    float: left;
}
.color{
background: #333333;
position:relative;
top :-320px;
transition: ease all 0.5s;
}
.floor_5_boxes>div{
    width: 270px;
    margin: 40px auto 0 auto;
    font-size:18px;
font-family:MicrosoftYaHei;
font-weight:400;
color:rgba(255,255,255,1);
line-height:44px;;
}
/* 第五层内容 -end  */
/* 第六层 */
.floor_6{
    width: 100%;
    height: 1766px;
    background: url(../../imges/science/science/图层\ 49.png) no-repeat;
    background-size: 100% 100%;
    text-align: center;
    padding-top: 54px;
}
.floor_6>p{
    color: #fff;
    font-size:36px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    }
    .floor_6>.floorText{
        color: #FFf;
    }

.floor_6>.floor_6Box{
    width: 1280px;
    margin: 0 auto;
}
.floor_6Text{
    margin: 55px auto;
    width:1105px;
font-size:18px;
font-family:MicrosoftYaHei;
font-weight:400;
color:rgba(255,255,255,1);
line-height:44px;
text-align: left;
}
.floor_6Bottom{
    width: 1280px;
    height: 466px;
    margin: 0 auto;
    /* background: #ce0e0e; */
    position: relative;
}
.floor_6Bottom>div{
    float: left;
}
.floor_6Bottom_right{
    width: 832px;
    height: 100%;
    /* background: yellow; */
    position: absolute;
    right: 0;
}
.floor_6Bottom_right>.top{
    width: 100%;
    height: 224px;
    position: absolute;
    top: 0;
}
.floor_6Bottom_right>.bottom{
    width: 100%;
    height: 210px;
    position: absolute;
    bottom:  0;
}
/* 第六层  -end */
/* 底层修饰 */
.embellish{
    width: 100%;
    height: 120px;
    background: url(../../imges/science/science/2.gif) no-repeat;
    background-size: 100% 100%;
}
/* 底层修饰 -end */
/* 脚注 */
.footnote{
    width: 100%;
    height: 300px;
    background: #303030;
}
.footnoteBox{
    width: 1280px;
    height: 100%;
    /* background: lightgreen; */
    margin: 0 auto;
}
.footnoteLogo{
    margin-right: 30px;
}
.footnoteLogo>img:nth-child(1){
    margin-top: 122px;
}
.footnoteLogo>img:nth-child(2){
    margin-top: 135px;
    margin-left: 12px;
}
.footnoteTheme{
    line-height: 27px;
     height: 181px;
     width: 824px;
     /* background: red; */
     margin-top: 59.5px;
}
.footnoteTheme>.textTop{
    width:727px;
    height:54px;
    font-size:20px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(255,255,255,1);
    line-height:27px;
}
.footnoteTheme>.textBottom{
    width:853px;
    height:54px;
    font-size:16px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(255,255,255,1);
    line-height:27px;
    opacity:0.5;
}
.footnoteBottom{
    float: right;
    margin-top: 56px;
    text-align: center;
}
.footnoteBottom>img{
    margin: 0 10px;
}
.footnoteBottom>p{
    font-size: 18px;
    color:rgba(255,255,255,1);
    font-family:MicrosoftYaHei;
    font-weight:400;
    margin: 0 10px;
}
/* 脚注 -end */


/* --------公共部分------------ */
.nava{
	width: 100%;
	height: 88px;
	/* background: red; */
	background: #fff;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	margin: 0 auto;
	z-index:100;
}
.nav{
    width: 1280px;
    height: 88px;
    /* background: red; */
    background: #fff;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto;
    z-index: 99;
}  
.navBox{
    float: left;
}
.hoverBOx:hover .sonPage{
    display: inline-block;
}
.sonPage_title{
    color: #000;
    background: #fff;
    border-bottom: 1px solid rgba(229,229,229,1);
}
.sonPage_title:hover{
    background: #E44444;
    color: #fff;
}

.sonPage{
    width: 100%;
    height: 288px;
    display: none;
}
.nav>div{
    font-size: 18px;
}
/* -----------公共部分 -end----------- */
/* -----------导航条LOGO标题部分----------- */
.navFlex_left{
    text-align: center;
    width: 230px;
    height: 100%;
    /* background: green; */
}
.logo{
    border-radius: 50%;
    /* background: rebeccapurple; */
    text-align: center;
    line-height: 70px;
    /* margin:0 71px; */
}
.title{
    /* background: rebeccapurple; */
    line-height: 88px;
}
/* -----------导航条LOGO标题部分 -end----------- */
/* -----------导航条右边主题部分----------- */
.navFlex_right{
    width: 1050px;
    height: 100%;
    /* background: yellow; */
}
.navFlex_right>div{
    width: 175px;
    height:100%;
    text-align: center;
    line-height: 88px;
}
.navFlex_right>div:hover{
    cursor: pointer;
    background:#E44444;
    color: #fff;
}
.navFlex_right>div:hover a{
    color: #fff;
}
/* -----------导航条右边主题部分 -end----------- */
